<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info-screen">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>PC Hardware Monitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="idasen-controller">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Table Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="server-controller">
      <ion-icon name="square"></ion-icon>
      <ion-label>Server Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
