

.content-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*
.button-group-wrapper{
  margin-top: 2rem;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}
*/

.bluetooth-icon{
  font-size: var(--detail-icon-font-size)!important;
}
.connect-wrapper{
  margin: .5rem;
  display: flex;
  flex-direction: column;
}
.server-controller-form{
  margin-top: 1rem;
}

