<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Server Controller Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Server Controller Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">



    <form class="server-controller-form" [formGroup]="serverForm">
      <ion-item >
        <ion-label>Server IP:</ion-label>
        <ion-input formControlName="serverIpControl" placeholder="Enter Server IP"></ion-input>
      </ion-item>

      <ion-item type="number">
        <ion-label>Server Port:</ion-label>
        <ion-input formControlName="serverPortControl" placeholder="Enter Server Port"></ion-input>
      </ion-item>

      <div class="button-wrapper">
        <ion-button [disabled]="disableButtons" [color]="isConnected? 'primary': 'warning'" (click)="connectToDesk()">{{ this.isConnected ? "disconnect Desk":  "connect Desk"}}</ion-button>
        <ion-button [disabled]="true">Connect Server</ion-button>
        <ion-button (click)="presentModal()">Search For Desks</ion-button>
      </div>

    </form>

  </div>

</ion-content>
