<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Idasen-Controller Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Idasen-Controller Page</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button color="primary"  (click)="connectToDesk()">connect</ion-button>
  <ion-button color="primary"  (click)="getDeskStatus()">status</ion-button>

  <div>{{this.status}}</div>

  <app-explore-container name="idasen-controller page"></app-explore-container>
</ion-content>
